body {
    background-color: #f0f0f0;
}
#topDiv{
    background-color: darkgray;
}
#header{
    position: fixed;
    top: 50px;
    background-color: lightgray;
    border: dashed red 2px;
    height: 50px;
    padding: 0;
    width: 100%;
}
#mainLogo{
    height: 105px;
    width: 105px;
    border: dashed blue 2px;
    top: 30px;
    margin-top: 1.25em;
}
#logoDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h4 {
    font-family: 'Abel', sans-serif;
    font-size: 32px;
    border: solid black 2px;
    text-align: center;
}
#nav {
    display: flex;
    flex-wrap: wrap;
    border: solid darkgray 2px;
    justify-content: center;
}
h6{
    font-family: 'Abel', sans-serif;
    font-size: 14px;
}
.con